*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
  background: linear-gradient(to bottom, #ffffff, #d6d6d6);
  flex-direction: column;
}

form {
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  padding: 10px 20px;
  background: #0000000e;
  border-radius: 8px;
}

.results {
  text-align: center !important;
  margin-left: 0px !important;
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  padding: 10px 20px;
  background: #0000000e;
  border-radius: 8px;
}

.conatiner {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#avisos {
  text-align: center;
  width: 90%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  padding: 10px 20px;
  background: #0000000e;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.pix {
  width: 90%;
  max-width: 300px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 10px auto;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 8px;
}

.header {
  position: relative;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  align-content: center;
  align-items: center;
}

.header img {
  padding: 1em;
  width: 150px;
  height: auto;
}

.user img {
  width: 60px;
  height: auto;
  border-radius: 50%;
}

@media screen and (min-width: 480px) {
  .header img {
    width: 200px;
  }
  .user img {
    width: 100px;
  }
  .conatiner {
    flex-direction: row;
    justify-content: space-around;
  }
  form, .results {
    max-width: 600px;
  }
  #avisos {
    height: 380px;
  }
}
